- for ns in namespaces
	- if (ns.classes.length)
		- if (ns.name)
			h5: a(href=level + ns.url) #{ns.name}
		- else
			h5 default
		
		ul.nav
			- for klass in ns.classes
				- if (!klass.builtin)
					li: a(href=level + klass.url) #{klass.name}