extends html
include _common

block navigation
	ul.nav		
		- for module in modules
			- if (Object.keys(module.methods).length)
				li: a(href="#") #{module.name}

block content
	div.cs-methods
		div.page-header
			h1.cs-header Methods
	
		- for module in modules
			- if (Object.keys(module.methods).length)
				h3.cs-header #{module.name}
				mixin methods(module.methods)