extends html
include _common

block navigation
	include _menu

block content
	div.page-header
		h1.cs-header Namespace #{namespace.name ? namespace.name : "default"}

	- if (namespace.classes.length)
		h3.cs-header Classes
		mixin classes(namespace.classes)